{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="error-area">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="error-content">
<i class='bx bxs-sad bx-flashing'></i>
<h1>Sorry!</h1>
<h2>Here Is Some Problem</h2>
<p>The page you are looking for it maybe deleted</p>
<a class="common-btn" href="{% url 'home:index' %}">
Go To Home
<img src="{% static 'images/shape1.png' %}" alt="Shape">
<img src="{% static 'images/shape2.png' %}" alt="Shape">
</a>
</div>
</div>
</div>
</div>
</div>


<div class="go-top">
<i class='bx bxs-up-arrow-circle'></i>
<i class='bx bxs-up-arrow-circle'></i>
</div>


{% endblock %}