{% extends "base.html" %}
{% load static %}
{% block content %}




<div class="page-title-area">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-content">
<h2>FAQ</h2>
<ul>
<li>
<a href="index.html">Home</a>
</li>
<li>
<span>FAQ</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="title-img">
<img src="{% static 'images/page-title1.jpg' %}" alt="About">
<img src="{% static 'images/shape16.png' %}" alt="Shape">
<img src="{% static 'images/shape17.png' %}" alt="Shape">
<img src="{% static 'images/shape18.png' %}" alt="Shape">
</div>
</div>


<div class="common-faq-area ptb-100">
<div class="container">
<div class="section-title">
<h2>Get Answer Of Your Questions</h2>
</div>
<div class="faq-item">
<ul class="accordion">
<li>
<h3 class="faq-head">How Can We Buy Products Online Without Any Credit Card?</h3>
<div class="faq-content">
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum <a href="#">[...]</a></p>
</div>
</li>
<li>
<h3 class="faq-head">How Can We Get Furniture Outside The Country?</h3>
<div class="faq-content">
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum <a href="#">[...]</a></p>
</div>
</li>
<li>
<h3 class="faq-head">Is There Any Return Policy For Damaged Furniture?</h3>
<div class="faq-content">
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum <a href="#">[...]</a></p>
</div>
</li>
<li>
<h3 class="faq-head">How To Payment Online Without Any Bank Account?</h3>
<div class="faq-content">
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum <a href="#">[...]</a></p>
</div>
</li>
<li>
<h3 class="faq-head">How To Get Free Coupon Cards?</h3>
<div class="faq-content">
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum <a href="#">[...]</a></p>
</div>
</li>
<li>
<h3 class="faq-head">How Do I Buy A Product Without Creating An Account?</h3>
<div class="faq-content">
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum <a href="#">[...]</a></p>
</div>
</li>
<li>
<h3 class="faq-head">How Do I Create An Account?</h3>
<div class="faq-content">
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum <a href="#">[...]</a></p>
</div>
</li>
</ul>
</div>
</div>
</div>


{% endblock %}