{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="page-title-area">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-content">
<h2>Privacy Policy</h2>
<ul>
<li>
<a href="{% url 'home:index' %}">Home</a>
</li>
<li>
<span>Privacy Policy</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="title-img">
<img src="{% static 'images/page-title1.jpg' %}" alt="About">
<img src="{% static 'images/shape16.png' %}" alt="Shape">
<img src="{% static 'images/shape17.png' %}" alt="Shape">
<img src="{% static 'images/shape18.png' %}" alt="Shape">
</div>
</div>


<div class="rules-area ptb-100">
<div class="container">
<div class="rules-item">
<div class="inner">
<h3>1. Privacy Policy</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
</div>
<div class="inner">
<h3>2. The Purpose Of This Privacy Policy</h3>
<ul>
<li><span></span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</li>
<li><span></span> Eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</li>
<li><span></span> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</li>
<li><span></span> No sea takimata sanctus est Lorem ipsum dolor sit amet</li>
<li><span></span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</li>
</ul>
</div>
<div class="inner">
<h3>3. Links To Other Sites</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
</div>
<div class="inner">
<h3>4. What Kind Of Personal Information Do We Collect And Hold?</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
</div>
<div class="inner">
<h3>5. How Do We Collect Personal Information?</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
<ul>
<li><span></span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</li>
<li><span></span> Eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</li>
<li><span></span> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</li>
<li><span></span> No sea takimata sanctus est Lorem ipsum dolor sit amet</li>
<li><span></span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</li>
</ul>
</div>
<div class="inner">
<h3>6. Disclosure Of Personal Information</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
<ul>
<li><span></span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</li>
<li><span></span> Eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</li>
<li><span></span> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</li>
<li><span></span> No sea takimata sanctus est Lorem ipsum dolor sit amet</li>
<li><span></span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</li>
</ul>
</div>
</div>
</div>
</div>


{% endblock %}