{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="page-title-area">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-content">
<h2>Blog</h2>
<ul>
<li>
<a href="index.html">Home</a>
</li>
<li>
<span>Blog</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="title-img">
<img src="{% static 'images/page-title1.jpg' %}" alt="About">
<img src="{% static 'images/shape16.png' %}" alt="Shape">
<img src="{% static 'images/shape17.png' %}" alt="Shape">
<img src="{% static 'images/shape18.png' %}" alt="Shape">
</div>
</div>


<section class="blog-area ptb-100">
<div class="container">
<div class="row justify-content-center">
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="{% static 'images/blog/blog1.jpg' %}" alt="Blog">
</a>
<span>26 Nov</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">How To Decorate Your Living Room With Minimal Furniture</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="{% static 'images/blog/blog2.jpg' %}" alt="Blog">
</a>
<span>27 Nov</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">Luxurious Furniture Aren't Expensive All The Time</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="{% static 'images/blog/blog3.jpg' %}" alt="Blog">
</a>
<span>28 Nov</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">How Can I Choose A Comfortable Bed For My Bedroom</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="{% static 'images/blog/blog4.jpg' %}" alt="Blog">
</a>
<span>29 Nov</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">How To Choose The Best Smartphone For Your Daily Task?</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="{% static 'images/blog/blog5.jpg' %}" alt="Blog">
</a>
<span>30 Nov</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">How Does This VR Box Help In Children's Online Education?</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
 </div>
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="{% static 'images/blog/blog6.jpg' %}" alt="Blog">
</a>
<span>01 Dec</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">Find Out The Top Gaming Laptops Within The Best Pricing!</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="{% static 'images/blog/blog7.jpg' %}" alt="Blog">
</a>
<span>02 Dec</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">How To Collect Fresh Vegetable From The Market</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="{% static 'images/blog/blog8.jpg' %}" alt="Blog">
</a>
<span>03 Dec</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">Farmyard Vegetable Now Cost Less Than The GM Food</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="{% static 'images/blog/blog9.jpg' %}" alt="Blog">
</a>
<span>04 Dec</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">How To Decorate Your Room With Luxurious Furniture</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
</div>
</div>
<div class="text-center">
<a class="common-btn" href="#">
Load More Article
<img src="{% static 'images/shape1.png' %}" alt="Shape">
<img src="{% static 'images/shape2.png' %}" alt="Shape">
</a>
</div>
</div>
</section>


{% endblock %}
