{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="page-title-area">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-content">
<h2>Blog Details</h2>
<ul>
<li>
<a href="index.html">Home</a>
</li>
<li>
<span>Blog Details</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="title-img">
<img src="{% static 'images/page-title4.jpg' %}" alt="About">
<img src="{% static 'images/shape16.png' %}" alt="Shape">
<img src="{% static 'images/shape17.png' %}" alt="Shape">
<img src="{% static 'images/shape18.png' %}" alt="Shape">
</div>
</div>


<div class="blog-details-area ptb-100">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="details-item">
<div class="details-img">
<img src="{% static 'images/blog/blog-details1.jpg' %}" alt="Blog">
<ul class="details-date">
<li>
<i class='bx bxs-calendar'></i>
<span>28 Nov, 2020</span>
</li>
<li>
<i class='bx bxs-comment-detail'></i>
<a href="#">02 Comments</a>
</li>
<li>
<i class='bx bx-user'></i>
<span>By:</span>
<a href="#">Luis Agantor</a>
</li>
</ul>
<h2>How Can I Choose A Comfortable Bed For My Bedroom</h2>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
<ul class="details-list">
<li><span></span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</li>
<li><span></span> Eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</li>
<li><span></span> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</li>
<li><span></span> No sea takimata sanctus est Lorem ipsum dolor sit amet</li>
<li><span></span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</li>
</ul>
<img src="{% static 'images/blog/blog-details2.png' %}" alt="Details">
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
<ul class="details-social">
<li>
<span>Share:</span>
</li>
<li>
<a href="#" target="_blank">
<i class='bx bxl-facebook'></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class='bx bxl-twitter'></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class='bx bxl-linkedin'></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class='bx bxl-skype'></i>
</a>
</li>
<li>
<a href="#" target="_blank">
<i class='bx bxl-youtube'></i>
</a>
</li>
</ul>
</div>
<div class="details-arrow-page">
<div class="row">
<div class="col-sm-6 col-lg-6">
<div class="left">
<a class="arrows" href="#">
<i class='bx bx-chevron-left'></i>
Previous Post
</a>
<ul class="align-items-center">
<li>
<img src="{% static 'images/blog/blog-thumb1.jpg' %}" alt="Details">
</li>
 <li>
<h3><a href="#">How Can I Choose A Perfect Bed For My Bed Room</a></h3>
<i class='bx bxs-calendar'></i>
<span>01 Dec, 2020</span>
</li>
</ul>
</div>
</div>
<div class="col-sm-6 col-lg-6">
<div class="right">
<a class="arrows" href="#">
<i class='bx bx-chevron-right'></i>
Next Post
</a>
<ul class="align-items-center">
<li>
<h3><a href="#">Luxurious Furniture Aren't Expensive All The Time</a></h3>
<i class='bx bxs-calendar'></i>
<span>02 Dec, 2020</span>
</li>
<li>
<img src="{% static 'images/blog/blog-thumb2.jpg' %}" alt="Details">
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="details-comments">
<h3>Comments <span>02</span></h3>
<ul>
<li>
<img src="{% static 'images/blog/comment1.jpg' %}" alt="Blog">
<h4>Tom Henry</h4>
<span>01 December, 2020</span>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptas modi esse perspiciatis vero sint doloremque voluptates placeat veritatis explicabo</p>
<a href="#">Reply</a>
</li>
<li>
<img src="{% static 'images/blog/comment2.jpg' %}" alt="Blog">
<h4>Angele Carter</h4>
<span>02 December, 2020</span>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptas modi esse perspiciatis vero sint doloremque voluptates placeat veritatis explicabo</p>
<a href="#">Reply</a>
</li>
</ul>
</div>
<div class="details-form">
<h3>Leave A Comment</h3>
<form>
<div class="form-group">
<input type="text" class="form-control" placeholder="Name">
</div>
<div class="form-group">
<input type="email" class="form-control" placeholder="Email">
</div>
<div class="form-group">
<textarea id="your-comments" rows="8" class="form-control" placeholder="Comments"></textarea>
</div>
<button type="submit" class="btn common-btn">
Post A Comment
<img src="{% static 'images/shape1.png' %}" alt="Shape">
<img src="{% static 'images/shape2.png' %}" alt="Shape">
</button>
</form>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="widget-area">
<div class="search widget-item">
<form>
<input type="text" class="form-control" placeholder="Search...">
<button type="submit" class="btn">
<i class='bx bx-search'></i>
</button>
</form>
</div>
<div class="categories widget-item">
<h3>Categories:</h3>
<ul>
<li>
<a href="#">Furniture <span>(12)</span></a>
</li>
<li>
<a href="#">Trend <span>(10)</span></a>
</li>
<li>
<a href="#">Modern <span>(21)</span></a>
</li>
<li>
<a href="#">Luxury <span>(04)</span></a>
</li>
</ul>
</div>
<div class="articles widget-item">
<h3>Recent Articles:</h3>
<div class="inner">
<ul class="align-items-center">
<li>
<img src="{% static 'images/blog/article1.jpg' %}" alt="Blog">
</li>
<li>
<a href="#">How To Decorate Your Living Room With Furniture</a>
<i class='bx bxs-calendar'></i>
<span>01 Dec, 2020</span>
</li>
</ul>
</div>
<div class="inner">
<ul class="align-items-center">
<li>
<img src="{% static 'images/blog/article2.jpg' %}" alt="Blog">
</li>
<li>
<a href="#">Luxurious Furniture Aren't Expensive All The Time</a>
<i class='bx bxs-calendar'></i>
<span>02 Dec, 2020</span>
</li>
</ul>
</div>
<div class="inner">
<ul class="align-items-center">
<li>
<img src="{% static 'images/blog/article3.jpg' %}" alt="Blog">
</li>
<li>
<a href="#">How To Choose The Best Smartphone For Your Task?</a>
<i class='bx bxs-calendar'></i>
 <span>03 Dec, 2020</span>
</li>
</ul>
</div>
</div>
<div class="tags widget-item">
<h3>Tags:</h3>
<ul>
<li>
<a href="#">Furniture</a>
</li>
<li>
<a href="#">Trendy</a>
</li>
<li>
<a href="#">Modern Trendy</a>
</li>
<li>
<a href="#">White Furniture</a>
</li>
<li>
<a href="#">Luxury</a>
</li>
<li>
<a href="#">Room</a>
</li>
<li>
<a href="#">Decoration</a>
</li>
<li>
<a href="#">Cheap</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}
