{% extends "base.html" %}
{% block content %}

<div class="sale-area">
<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-sm-6 col-lg-4">
<div class="sale-item sale-bg-one">
<img src="assets/images/sale-main1.png" alt="Sale">
<div class="inner">
<h3><span class="percent">20%</span> Black Friday <span>Sale</span></h3>
<p>On All Headphones</p>
<a href="#">Shop Now</a>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="sale-item sale-bg-two">
<img src="assets/images/sale-main2.png" alt="Sale">
<div class="inner">
<h3><span class="percent">5%</span> Christmas <span>Sale</span></h3>
<p>On All Smart Watch</p>
<a href="#">Shop Now</a>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="sale-item sale-bg-three">
<img src="assets/images/sale-main3.png" alt="Sale">
<div class="inner">
<h3><span class="percent">10%</span> Winter <span>Sale</span></h3>
<p>On All Cameras</p>
<a href="#">Shop Now</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="products-area two pb-100">
<div class="container">
<div class="sorting-slider owl-theme owl-carousel">
<div class="products-thumb">
<a href="#">
<img src="assets/images/products/shape1.png" alt="Shape">
<img src="assets/images/products/shape2.png" alt="Shape">
<i class="flaticon-square"></i>
<span>All</span>
</a>
</div>
<div class="products-thumb">
<a href="#">
<img src="assets/images/products/shape1.png" alt="Shape">
<img src="assets/images/products/shape2.png" alt="Shape">
<i class="flaticon-headphones"></i>
<span>Headphones</span>
</a>
</div>
<div class="products-thumb">
<a href="#">
<img src="assets/images/products/shape1.png" alt="Shape">
<img src="assets/images/products/shape2.png" alt="Shape">
<i class="flaticon-microphone"></i>
<span>Microphones</span>
</a>
</div>
<div class="products-thumb">
<a href="#">
<img src="assets/images/products/shape1.png" alt="Shape">
<img src="assets/images/products/shape2.png" alt="Shape">
<i class="flaticon-laptop"></i>
<span>Laptop</span>
</a>
</div>
<div class="products-thumb">
<a href="#">
<img src="assets/images/products/shape1.png" alt="Shape">
<img src="assets/images/products/shape2.png" alt="Shape">
<i class="flaticon-monitor"></i>
<span>Desktop</span>
</a>
</div>
<div class="products-thumb">
<a href="#">
<img src="assets/images/products/shape1.png" alt="Shape">
<img src="assets/images/products/shape2.png" alt="Shape">
<i class="flaticon-camera"></i>
<span>Camera</span>
</a>
</div>
<div class="products-thumb">
<a href="#">
<img src="assets/images/products/shape1.png" alt="Shape">
<img src="assets/images/products/shape2.png" alt="Shape">
<i class="flaticon-smartwatch"></i>
<span>Smart Watch</span>
</a>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products14.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">Red AKG Headphones</a>
</h3>
<span>$200.00</span>
</div>
</div>
<div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products15.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">Corsair Gaming Keyboard</a>
</h3>
<span>$180.00</span>
</div>
</div>
 <div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products16.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">Apple MacBook Air 13.3-Inch</a>
</h3>
<span>$170.00</span>
</div>
</div>
<div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products17.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">Apple iMac 27", Core i5</a>
</h3>
<span>$190.00</span>
</div>
</div>
<div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products18.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">Canon EF-S 18-55mm Lens</a>
</h3>
<span>$160.00</span>
</div>
</div>
<div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products19.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">A4 Tech Bloody G520S</a>
</h3>
<span>$120.00</span>
</div>
</div>
<div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products20.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">Havit AM100 Microphone</a>
</h3>
<span>$250.00</span>
</div>
</div>
<div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products21.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">Canon Eos 4000D Camera</a>
</h3>
<span>$210.00</span>
</div>
</div>
<div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
</div>
<div class="text-center">
<a class="common-btn two" href="shop.html">
Load More Products
<img src="assets/images/shape1.png" alt="Shape">
<img src="assets/images/shape2.png" alt="Shape">
</a>
</div>
</div>
</div>


<div class="buy-area two ptb-100">
<div class="buy-shape">
<img src="assets/images/shape6.png" alt="Shape">
<img src="assets/images/shape7.png" alt="Shape">
</div>
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="buy-content">
<h2>Buy Best Electronics At A Cheaper Rate</h2>
<p>Green AKG Bluetooth Headphones</p>
<ul>
<li>$160.00</li>
<li>
<del>$200.00</del>
</li>
</ul>
<a class="common-btn two" href="shop.html">
Shop Now
<img src="assets/images/shape1.png" alt="Shape">
<img src="assets/images/shape2.png" alt="Shape">
</a>
</div>
</div>
<div class="col-lg-6">
<div class="buy-img">
<img src="assets/images/buy-main2.png" alt="Buy">
</div>
</div>
</div>
</div>
</div>


<div class="deal-area pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="section-title">
<h2>Deal Of The Day</h2>
</div>
<div class="deal-item">
<span class="percent">-20%</span>
<a class="deal-btn" href="single-product.html">
<i class='bx bx-right-arrow-alt'></i>
</a>
<div class="inner align-items-center">
<div class="left">
<img src="assets/images/deal-main1.png" alt="Deal">
</div>
<div class="right">
<ul class="reviews">
<li>
<i class='bx bxs-star checked'></i>
</li>
<li>
<i class='bx bxs-star checked'></i>
</li>
<li>
<i class='bx bxs-star checked'></i>
</li>
<li>
<i class='bx bxs-star checked'></i>
</li>
<li>
<i class='bx bxs-star'></i>
</li>
<li>
<span>(4 Reviews)</span>
</li>
</ul>
<h3>Best Bionic Thunder Headphones</h3>
<ul class="price">
<li>$130.00</li>
<li><del>$150.00</del></li>
</ul>
<ul class="features">
<li>
<span>Main Features:</span>
</li>
<li>High Quality Sound</li>
<li>Voice Cancellation</li>
<li>Mobile Support</li>
<li>3+ Years Warranty</li>
</ul>
<ul class="timer">
<li>
<div class="timer-inner">
<span id="days"></span>
<p>Days</p>
</div>
</li>
<li>
<div class="timer-inner">
<span id="hours"></span>
<p>Hrs</p>
</div>
</li>
<li>
<div class="timer-inner">
<span id="minutes"></span>
<p>Mins</p>
</div>
</li>
<li>
<div class="timer-inner">
<span id="seconds"></span>
<p>Secs</p>
</div>
</li>
</ul>
<ul class="cart-wishlist">
<li>
<a href="#">
<i class='bx bxs-cart'></i>
</a>
</li>
<li>
<a href="#">
<i class='bx bxs-heart'></i>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="section-title">
<h2>Hot Offers</h2>
</div>
<div class="deal-item two">
<span class="percent">-20%</span>
<a class="deal-btn" href="single-product.html">
<i class='bx bx-right-arrow-alt'></i>
</a>
<div class="inner align-items-center">
<div class="left">
<img src="assets/images/deal-main2.png" alt="Deal">
</div>
<div class="right">
<ul class="reviews">
<li>
<i class='bx bxs-star checked'></i>
</li>
<li>
<i class='bx bxs-star checked'></i>
</li>
<li>
<i class='bx bxs-star checked'></i>
</li>
<li>
<i class='bx bxs-star checked'></i>
</li>
<li>
<i class='bx bxs-star'></i>
</li>
<li>
<span>(4 Reviews)</span>
</li>
</ul>
<h3>Bionic Thunder Smart Watch</h3>
<ul class="price">
<li>$130.00</li>
<li><del>$150.00</del></li>
</ul>
<h4>Get This Product Within: <span>31 December</span></h4>
<ul class="cart-wishlist">
<li>
 <a href="#">
<i class='bx bxs-cart'></i>
</a>
</li>
<li>
<a href="#">
<i class='bx bxs-heart'></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="deal-black">
<img src="assets/images/deal-shape1.png" alt="Shape">
<h3>50% Black Friday Sale</h3>
<a href="shop.html">View Products</a>
</div>
</div>
</div>
</div>
</div>


<section class="brand-area pb-70">
<div class="container">
<div class="section-title">
<h2>Our Trusted Brand</h2>
</div>
<div class="row justify-content-center">
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="assets/images/brand/brand1.png" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="assets/images/brand/brand2.png" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="assets/images/brand/brand3.png" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="assets/images/brand/brand4.png" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="assets/images/brand/brand5.png" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="assets/images/brand/brand6.png" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="assets/images/brand/brand7.png" alt="Brand">
</a>
</div>
</div>
</div>
</div>
</section>


<div class="products-area two pb-70">
<div class="container">
<div class="section-title">
<h2>Best Selling Products</h2>
</div>
<div class="row">
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products22.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">Bionic Thunder Headphones</a>
</h3>
<span>$200.00</span>
</div>
</div>
<div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products23.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">Xiaomi A1821 Smart Watch</a>
</h3>
<span>$180.00</span>
</div>
</div>
<div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products24.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">Nikon D5600 DSLR Camera</a>
</h3>
<span>$170.00</span>
</div>
</div>
<div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-3">
<div class="products-item">
<div class="top">
<a class="wishlist" href="#">
<i class='bx bx-heart'></i>
</a>
<img src="assets/images/products/products25.png" alt="Products">
<div class="inner">
<h3>
<a href="single-product.html">Delux OM02 Keyboard</a>
</h3>
<span>$190.00</span>
</div>
</div>
<div class="bottom">
<a class="cart-text" href="#">Add To Cart</a>
<i class='bx bx-plus'></i>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="testimonials-area two pb-100">
<div class="container">
<div class="section-title">
<h2>Our Client Testimonials</h2>
</div>
<div class="testimonials-slider owl-theme owl-carousel">
<div class="testimonials-item">
<i class="flaticon-quote"></i>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam volu ptua</p>
<h3>Adam Smith</h3>
<span>Co-Founder Of Company</span>
<img src="assets/images/testimonial1.jpg" alt="Testimonial">
</div>
<div class="testimonials-item">
<i class="flaticon-quote"></i>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
<h3>Jonathon Ronan</h3>
<span>Director Of Company</span>
<img src="assets/images/testimonial2.jpg" alt="Testimonial">
</div>
<div class="testimonials-item">
<i class="flaticon-quote"></i>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
<h3>Sarp Cesmeli</h3>
<span>Engineer Of Company</span>
<img src="assets/images/testimonial3.jpg" alt="Testimonial">
</div>
<div class="testimonials-item">
<i class="flaticon-quote"></i>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words </p>
<h3>Tom Henry</h3>
<span>Staff Of Company</span>
<img src="assets/images/testimonial4.jpg" alt="Testimonial">
</div>
</div>
</div>
</div>


<div class="support-area pt-100 pb-70">
<div class="container">
<div class="row justify-content-center">
<div class="col-sm-6 col-lg-4">
<div class="support-item two">
<i class="flaticon-free-delivery"></i>
<h3>Free Next Day Delivery</h3>
<p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
<img src="assets/images/support-shape1.png" alt="Shape">
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="support-item three">
<i class="flaticon-call-center"></i>
<h3>24/7 Online Support</h3>
<p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
<img src="assets/images/support-shape1.png" alt="Shape">
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="support-item four">
<i class="flaticon-giftbox"></i>
<h3>Weekly Gift Voucher</h3>
 <p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
<img src="assets/images/support-shape1.png" alt="Shape">
</div>
</div>
</div>
</div>
</div>


<section class="blog-area two pt-100 pb-70">
<div class="container">
<div class="section-title">
<h2>Read Latest Our News</h2>
</div>
<div class="row justify-content-center">
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="assets/images/blog/blog4.jpg" alt="Blog">
</a>
<span>26 Nov</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">How To Choose The Best Smartphone For Your Daily Task?</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="assets/images/blog/blog5.jpg" alt="Blog">
</a>
<span>27 Nov</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">How Does This VR Box Help In Children's Online Education?</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="blog-item">
<div class="top">
<a href="blog-details.html">
<img src="assets/images/blog/blog6.jpg" alt="Blog">
</a>
<span>28 Nov</span>
</div>
<div class="bottom">
<h3>
<a href="blog-details.html">Find Out The Top Gaming Laptops Within The Best Pricing!</a>
</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae praesentium dolor atque debitis aspernatur quaerat</p>
<a class="blog-btn" href="blog-details.html">
Read More
<i class='bx bx-plus'></i>
</a>
</div>
</div>
</div>
</div>
</div>
</section>


{% endblock %}