{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="page-title-area">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-content">
<h2>Login</h2>
<ul>
<li>
<a href="index.html">Home</a>
</li>
<li>
<span>Login</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="title-img">
<img src="{% static 'images/page-title1.jpg' %}" alt="About">
<img src="{% static 'images/shape16.png' %}" alt="Shape">
<img src="{% static 'images/shape17.png' %}" alt="Shape">
<img src="{% static 'images/shape18.png' %}" alt="Shape">
</div>
</div>


<div class="user-area ptb-100">
<div class="container">
<div class="user-item">
<form>
<h2>Login</h2>
<div class="form-group">
<input type="email" class="form-control" placeholder="Your Email:">
</div>
<div class="form-group">
<input type="password" class="form-control" placeholder="Password:">
</div>
<button type="submit" class="btn common-btn">
Login
<img src="{% static 'images/shape1.png' %}" alt="Shape">
<img src="{% static 'images/shape2.png' %}" alt="Shape">
</button>
<h4>Or</h4>
<ul>
<li>
<a href="#">
<i class='bx bxl-facebook'></i>
Login With Facebook
</a>
</li>
<li>
<a href="#">
<i class='bx bxl-google'></i>
Login With Google
</a>
</li>
</ul>
<h5>Didn't Have An Account? <a href="register.html">Register</a></h5>
</form>
</div>
</div>
</div>


{% endblock %}