{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="page-title-area">
<div class="d-table">
<div class="d-table-cell">
<div class="container">
<div class="title-content">
<h2>About Us</h2>
<ul>
<li>
<a href="{% url 'home:index' %}">Home</a>
</li>
<li>
<span>About Us</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="title-img">
<img src="{% static 'images/page-title1.jpg' %}" alt="About">
<img src="{% static 'images/shape16.png' %}" alt="Shape">
<img src="{% static 'images/shape17.png' %}" alt="Shape">
<img src="{% static 'images/shape18.png' %}" alt="Shape">
</div>
</div>


<section class="about-area pt-100 pb-70">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="about-content">
<div class="top">
<h2>About Our Store</h2>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirm od tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirm od tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
</div>
<div class="middle">
<ul>
<li>
<img src="{% static 'images/about-icon1.png' %}" alt="Icon">
<h3>25+ Years Experience</h3>
</li>
<li>
<img src="{% static 'images/about-icon2.png' %}" alt="Icon">
<h3>Trusted Brand In City</h3>
</li>
<li>
<img src="{% static 'images/about-icon3.png' %}" alt="Icon">
<h3>32+ Award Winner</h3>
</li>
<li>
<img src="{% static 'images/about-icon4.png' %}" alt="Icon">
<h3>Best Quality Brand</h3>
</li>
</ul>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirm od tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
<a class="common-btn" href="{% url 'products:shop' %}">
Shop Now
<img src="{% static 'images/shape1.png' %}" alt="Shape">
<img src="{% static 'images/shape2.png' %}" alt="Shape">
</a>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="about-img">
<img src="{% static 'images/about-main1.jpg' %}" alt="About">
<img src="{% static 'images/about-main2.jpg' %}" alt="About">
<img src="{% static 'images/about-main3.jpg' %}" alt="About">
</div>
</div>
</div>
</div>
</section>


<div class="buy-area">
<div class="buy-shape">
<img src="{% static 'images/shape3.png' %}" alt="Shape">
</div>
<div class="container-fluid p-0">
<div class="row m-0 align-items-center">
<div class="col-lg-6 p-0">
<div class="buy-img">
<img src="{% static 'images/buy-main1.png' %}" alt="Buy">
</div>
</div>
<div class="col-lg-6 p-0">
<div class="buy-content ptb-100">
<h2>Buy Best Furniture At A Cheaper Rate</h2>
<p>Soft Comfy Ash Dual Sofa</p>
<ul>
<li>$160.00</li>
<li>
<del>$200.00</del>
</li>
</ul>
<a class="common-btn" href="{% url 'products:shop' %}">
Shop Now
<img src="{% static 'images/shape1.png' %}" alt="Shape">
<img src="{% static 'images/shape2.png' %}" alt="Shape">
</a>
</div>
</div>
</div>
</div>
</div>


<section class="brand-area pt-100 pb-70">
<div class="container">
<div class="section-title">
<h2>Our Trusted Brand</h2>
</div>
<div class="row justify-content-center">
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand1.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand2.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item"> 
<a href="#">
<img src="{% static 'images/brand/brand3.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand4.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand5.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand6.png' %}" alt="Brand">
</a>
</div>
</div>
<div class="col-sm-4 col-lg-3">
<div class="brand-item">
<a href="#">
<img src="{% static 'images/brand/brand7.png' %}" alt="Brand">
</a>
</div>
</div>
</div>
</div>
</section>


<div class="support-area pt-100 pb-70">
<div class="container">
<div class="row justify-content-center">
<div class="col-sm-6 col-lg-4">
<div class="support-item">
<i class="flaticon-free-delivery"></i>
<h3>Free Next Day Delivery</h3>
<p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
<img src="{% static 'images/support-shape1.png' %}" alt="Shape">
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="support-item">
<i class="flaticon-call-center"></i>
<h3>24/7 Online Support</h3>
<p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
<img src="{% static 'images/support-shape1.png' %}" alt="Shape">
</div>
</div>
<div class="col-sm-6 col-lg-4">
<div class="support-item">
<i class="flaticon-giftbox"></i>
<h3>Weekly Gift Voucher</h3>
<p>Lorem ipsum dolor sit amet, cons etetur sadipscing elitr</p>
<img src="{% static 'images/support-shape1.png' %}" alt="Shape">
</div>
</div>
</div>
</div>
</div>


<div class="testimonials-area ptb-100">
<div class="container">
<div class="section-title">
<h2>Our Client Testimonials</h2>
</div>
<div class="testimonials-slider owl-theme owl-carousel">
<div class="testimonials-item">
<i class="flaticon-quote"></i>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam volu ptua</p>
<h3>Adam Smith</h3>
<span>Co-Founder Of Company</span>
<img src="{% static 'images/testimonial1.jpg' %}" alt="Testimonial">
</div>
<div class="testimonials-item">
<i class="flaticon-quote"></i>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
<h3>Jonathon Ronan</h3>
<span>Director Of Company</span>
<img src="{% static 'images/testimonial2.jpg' %}" alt="Testimonial">
</div>
<div class="testimonials-item">
<i class="flaticon-quote"></i>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
<h3>Sarp Cesmeli</h3>
<span>Engineer Of Company</span>
<img src="{% static 'images/testimonial3.jpg' %}" alt="Testimonial">
</div>
<div class="testimonials-item">
<i class="flaticon-quote"></i>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words </p>
<h3>Tom Henry</h3>
<span>Staff Of Company</span>
<img src="{% static 'images/testimonial4.jpg' %}" alt="Testimonial">
</div>
</div>
</div>
</div>

{% endblock %}